
body{
  padding: 0;
  margin: 0;
  height: 100%;
  background-image:url("http://images4.fanpop.com/image/photos/21700000/Iron-Throne-game-of-thrones-21729427-1600-1200.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
